/*
@media (min-width: 769px) {
    .nav-menu {
      display: flex; /* Display the menu as a horizontal list 
    }
  
    .fullscreen-menu {
      display: none; /* No fullscreen menu for large screens 
    }
  
    .nav-icon {
      display: none; /* Hide the hamburger menu icon on desktop 
    }
  }

 */